<mat-toolbar class="matero-toolbar">
  <button mat-icon-button class="matero-toolbar-button" *ngIf="showToggle"
          (click)="toggleSidenav.emit()">
    <mat-icon style="color: #009288">menu</mat-icon>
  </button>

  <app-branding *ngIf="showBranding"></app-branding>
  <span fxFlex></span>

  <button mat-icon-button class="matero-toolbar-button">
    <mat-icon style="color: #009288">search</mat-icon>
  </button>

  <button mat-icon-button class="matero-toolbar-button" fxHide.lt-sm
          (click)="toggleFullscreen()">
    <mat-icon style="color: #009288">fullscreen</mat-icon>
  </button>

  <app-notification fxHide.lt-sm></app-notification>

  <app-translate fxHide.lt-sm></app-translate>

  <app-user></app-user>

</mat-toolbar>