mat-panel-title {

    font-size: 20px;
    color: #1E67AD;
}

mat-expansion-panel-header {

    height: 80px !important;
}

.tp-radio-group {
    display: inline-flex;
    flex-direction: column;
 }
 .tp-radio-button {
    margin: 5px;
 }
 .tp-selected-value {
    margin: 15px 0;
 }

 
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  agm-map {

    height: 400px;
  }

