p {

    font-size: 16px !important;
    color: #1E67AD;
}

h5 {

    color: #1E67AD;
    font-weight: bold;

}

label {

    font-size: 18px;
    color: #1E67AD;
    
}

.mat-tab-label-active {
    background-color:#009288;
    color: #fff;
    opacity: 1;
}