<div mat-dialog-content>
      <mat-card>
        <mat-card-content>
          <form [formGroup]="edoGralFormGroup" class="matero-form-horizontal">
              <div class="matero-row" fxLayout="row wrap">
                <div fxFlex="100" class="matero-col">
                     <mat-card>
                    <mat-card-title fx-item style="color: #009288; font-weight: lighter;">ESTADO GENERAL DE CONSERVACIÓN, VIDA MÍNIMA (Años) E ÍNDICE DEL COSTO REMANENTES</mat-card-title>
                    <mat-divider></mat-divider><br>
              
                    <mat-card-header fxLayout="column" fxLayoutAlign="center start">
                      <div class="w-full flex flex-col sm:flex-row justify-between">  
                        <div fxFlex="20" fxFlex.lt-md="100">
                          <mat-form-field>
                            <mat-label>Clase de la construcción</mat-label>
                            <mat-select formControlName="claseConstruccion" required (selectionChange)="onSelectionClass()">
                              <mat-option *ngFor="let item of claseCatalogo" [value] = "item.clave" >{{item.descripcion}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="edoGralFormGroup.get('claseConstruccion').invalid">Campo
                              requerido</mat-error>
                          </mat-form-field>
                        </div>        
                      </div>
                    </mat-card-header>
              
                    <mat-card-content class="-mt-6" fxLayout="column">                                              
                       <div class="example-container mat-elevation-z8"> 
                          <table mat-table [dataSource]="dataSource" style="width: 100%;">  
                             <!-- Id Column -->
                            <ng-container matColumnDef="idPartidaPorcentaje" sticky>
                              <th mat-header-cell *matHeaderCellDef>Id Partida</th>
                              <td mat-cell *matCellDef="let row"> 
                                <input matInput formControlName="idPartidaPorcentaje" [(ngModel)]="row.idPartidaPorcentaje" type="number"> </td>
                              <td mat-footer-cell *matFooterCellDef>     
                              </td>
                            </ng-container>
                      
                            <!-- Partida Column -->
                            <ng-container matColumnDef="descripcionPartidaPorcentaje" sticky>
                              <th mat-header-cell *matHeaderCellDef>Partidas</th>
                              <td mat-cell *matCellDef="let row">{{row.descripcionPartidaPorcentaje}}</td>
                              <td mat-footer-cell *matFooterCellDef>  </td>
                            </ng-container>
                      
                             <!-- Puntos partida Column -->
                            <ng-container matColumnDef="puntosPartida" sticky>
                              <th mat-header-cell *matHeaderCellDef>Puntos por partida</th>
                              <td mat-cell *matCellDef="let row">{{row.puntosPartida}}</td>
                              <td mat-footer-cell *matFooterCellDef> Estado general de conservación </td>
                            </ng-container>
  
                             <!-- Estado conservación Column -->
                            <ng-container matColumnDef="idPartidaConserva" sticky>
                              <th mat-header-cell *matHeaderCellDef>Estado de conservación Observado</th> 
                              <td mat-cell *matCellDef="let row">  
                                <mat-form-field floatLabel="never" >   
                                  <mat-select placeholder=""  value="{{row.idPartidaConserva}}" name="idPartidaConserva"
                                  (selectionChange)="onSelectionEstado($event, row)"> 
                                    <mat-option  *ngFor="let item of edoConservacion " value="{{item.clave}}" >
                                      {{item.descripcion}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field></td>
                                <td mat-footer-cell *matFooterCellDef> {{edoGralConservacionT}} </td>
                            </ng-container>

                              <!-- Mantenimiento requerido Column -->
                              <ng-container matColumnDef="manttRequerido" sticky>
                                <th mat-header-cell *matHeaderCellDef>Mantenimiento requerido</th>
                                <td mat-cell *matCellDef="let row">{{row.manttRequerido}}</td>
                                <td mat-footer-cell *matFooterCellDef>  </td>
                              </ng-container>

                                <!-- Indice de conservación Column -->
                                <ng-container matColumnDef="indiceConservacion" sticky>
                                    <th mat-header-cell *matHeaderCellDef>Índice de conservación</th>
                                    <td mat-cell *matCellDef="let row">{{row.indiceConservacion}}</td>
                                    <td mat-footer-cell *matFooterCellDef> Vida mínima remanente </td>
                                  </ng-container>

                                    <!-- Vida mínima años Column -->
                                <ng-container matColumnDef="vidaMinimaAnios" sticky>
                                    <th mat-header-cell *matHeaderCellDef>Vida mínima (años)</th>
                                    <td mat-cell *matCellDef="let row">{{row.vidaMinimaAnios}}</td>
                                    <td mat-footer-cell *matFooterCellDef> {{vidaMinimaRemanenteT}} </td>
                                  </ng-container>
  
                                         <!-- Puntos ajustados Column -->
                                         <ng-container matColumnDef="puntosAjustados" sticky>
                                            <th mat-header-cell *matHeaderCellDef>Puntos ajustados</th>
                                            <td mat-cell *matCellDef="let row">{{row.puntosAjustados}}</td>
                                            <td mat-footer-cell *matFooterCellDef> {{puntosTotales}} </td>
                                          </ng-container>                         
                     
                            <tr mat-header-row *matHeaderRowDef="visibleColumns; sticky: true" ></tr>
                            <tr mat-row *matRowDef="let row; columns: visibleColumns;" ></tr>   
                            <tr mat-footer-row *matFooterRowDef="visibleColumns; sticky: true"></tr>                    
                          </table>      
                        </div>            
                            
                    </mat-card-content>                                
                  </mat-card>         
                </div>
           </div>
         </form>
       <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
          <button mat-fab style="background-color: #f65545; outline:none;" matTooltip="Cerrar" (click)="onNoClick()" >
             <mat-icon>clear</mat-icon>
           </button>
           <button mat-button  matDialogClose><mat-icon>clear</mat-icon></button>
         </div>
        </mat-card-content>
      </mat-card>
    </div>
