<section class="demo-expansion">
    <mat-expansion-panel #elementosPanel1  [expanded]='isExpanded'>
      <mat-expansion-panel-header>
        <mat-panel-title>Elementos de la construcción</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="eleConst1FormGroup" class="matero-form-horizontal">
      <mat-card>
        <mat-panel-title>Obra negra</mat-panel-title>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
        </mat-card-actions>
        <mat-card-content>        
            <div fxLayout="row wrap" fxLayoutGap="30px grid">

              <div fxFlex="25" fxFlex.lt-md="100" fxl>
                <mat-form-field>
                  <mat-label>Cimentación</mat-label>
                  <input matInput placeholder="Cimentación" formControlName="cimientos" type="text" maxlength="250">     
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Estructura</mat-label>
                  <input matInput placeholder="Estructura" formControlName="estructuras" type="text" maxlength="250">    
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Muros</mat-label>
                  <input matInput placeholder="Muros" formControlName="muros" type="text" maxlength="250">   
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Entrepisos</mat-label>
                  <input matInput placeholder="Entrepisos" formControlName="entrepisos" type="text" maxlength="250">   

                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Techos</mat-label>
                  <input matInput placeholder="Techos" formControlName="techos" type="text" maxlength="250">    
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Azoteas</mat-label>
                  <input matInput placeholder="Azoteas" formControlName="azoteas" type="text" maxlength="250">   
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Bardas</mat-label>
                  <input matInput placeholder="Bardas" formControlName="bardas" type="text" maxlength="250">   
                </mat-form-field>
              </div>
            </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-panel-title>Revestimientos y acabados interiores</mat-panel-title>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
        </mat-card-actions>
        <mat-card-content>
  
            <div fxLayout="row wrap" fxLayoutGap="30px grid">

              <div fxFlex="25" fxFlex.lt-md="100" fxl>
                <mat-form-field>
                  <mat-label>Aplanados</mat-label>
                  <input matInput placeholder="Aplanados" formControlName="aplanados" type="text" maxlength="500">   
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Plafones</mat-label>
                  <input matInput placeholder="Plafones" formControlName="plafones" type="text" maxlength="500">   
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Lambrines</mat-label>
                  <input matInput placeholder="Lambrines" formControlName="lambrines" type="text" maxlength="500">   
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Pisos</mat-label>
                  <input matInput placeholder="Pisos" formControlName="pisos" type="text" maxlength="500">  
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Zoclos</mat-label>
                  <input matInput placeholder="Zoclos" formControlName="zoclos" type="text" maxlength="500">  
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Escaleras</mat-label>
                  <input matInput placeholder="Escaleras" formControlName="escaleras" type="text" maxlength="500">  
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Pintura</mat-label>
                  <input matInput placeholder="Pintura" formControlName="pintura" type="text" maxlength="250"> 
                </mat-form-field>
              </div>

              <div fxFlex="25" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Recubrimientos especiales</mat-label>
                  <input matInput placeholder="Recubrimientos especiales"
                         formControlName="recubrimientosEspeciales" >
                </mat-form-field>
              </div>
            </div>
    
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-panel-title>Carpintería</mat-panel-title>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
        </mat-card-actions>
        <mat-card-content>

            <div fxLayout="row wrap" fxLayoutGap="30px grid">
              <div fxFlex="50" fxFlex.lt-md="100" fxl>
                <mat-form-field>
                  <mat-label>Puertas interiores</mat-label>
                  <input matInput placeholder="Puertas interiores" formControlName="puertasInteriores" type="text" maxlength="250"> 
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Guardaropas</mat-label>
                  <input matInput placeholder="Guardaropas" formControlName="guardaropas" type="text" maxlength="250"> 
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Muebles empotrados o fijos</mat-label>
                  <input matInput placeholder="Muebles empotrados o fijos"
                         formControlName="mueblesEmpotradosFijos" type="text" maxlength="250"> 
                </mat-form-field>
              </div>
            </div>

        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-panel-title>Instalaciones hidraúlicas y sanitarias</mat-panel-title>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
        </mat-card-actions>
        <mat-card-content>
     
            <div fxLayout="row wrap" fxLayoutGap="30px grid">

              <div fxFlex="50" fxFlex.lt-md="100" fxl>
                <mat-form-field>
                  <mat-label>Muebles de baño</mat-label>
                  <input matInput placeholder="Muebles de baño" formControlName="mueblesBanio" type="text" maxlength="500"> 
                </mat-form-field>
              </div>


              <div fxFlex="50" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Ramaleos hidraúlicos</mat-label>
                  <input matInput placeholder="Ramaleos hidraúlicos"
                         formControlName="ramaleosHidraulicos" type="text" maxlength="500"> 
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Ramaleos sanitarios</mat-label>
                  <input matInput placeholder="Muebles empotrados o fijos"
                         formControlName="ramaleosSanitarios" type="text" maxlength="500"> 
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Instalaciones eléctricas</mat-label>
                  <input matInput placeholder="Instalaciones eléctricas"
                         formControlName="instalacionesElectricas" type="text" maxlength="250"> 
                </mat-form-field>
              </div>
            </div>

        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-panel-title>Puertas y ventanería metálica</mat-panel-title>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
        </mat-card-actions>
        <mat-card-content>
     
            <div fxLayout="row wrap" fxLayoutGap="30px grid">

              <div fxFlex="50" fxFlex.lt-md="100" fxl>
                <mat-form-field>
                  <mat-label>Herrería</mat-label>
                  <input matInput placeholder="Herrería" formControlName="herreria" type="text" maxlength="250"> 
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Ventanería</mat-label>
                  <input matInput placeholder="Ventanería" formControlName="ventaneria" type="text" maxlength="250"> 
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Vidriería</mat-label>
                  <input matInput placeholder="Vidriería" formControlName="vidrieria" type="text" maxlength="250"> 
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Cerrajería</mat-label>
                  <input matInput placeholder="Cerrajería" formControlName="cerrajeria" type="text" maxlength="250"> 
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-md="100">
                <mat-form-field>
                  <mat-label>Fachadas</mat-label>
                  <input matInput placeholder="Fachadas" formControlName="fachadas" type="text" maxlength="250"> 
                </mat-form-field>
              </div>
            </div>
     
        </mat-card-content>
      </mat-card>

      <div *ngIf="alertElementoCons" class="{{classAlert}}" role="alertElementoCons">
        <button type="button" class="close" aria-label="Close" (click)="closeAlertElementosCons()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{msg}}
      </div>
  
      <mat-action-row>
        <button mat-fab style="background-color: #f65545;" matTooltip="Cancelar"
                (click)="elementosPanel1.expanded = false">
          <mat-icon>close</mat-icon>
        </button>

        <button mat-fab style="background-color: #91d400;" matTooltip="Guardar" (click)="addElementosCons()" type="onSubmit">
          <mat-icon>done</mat-icon>
        </button>
      </mat-action-row>
    </form>
    </mat-expansion-panel>
  </section>

 



