.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .close-button{
    float: right;
    top:-24px;
    right:-24px;
    outline: none;
    background-color: transparent!important;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }

  .mat-icon-button ::ng-deep .mat-button-focus-overlay {
    display: none;
}
  

