<section class="demo-expansion">
  <mat-expansion-panel #desInmueblePanel1>
    <mat-expansion-panel-header>
      <mat-panel-title>CONSTRUCCIONES PRIVATIVAS Y CONSTRUCCIONES COMUNES</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-fab style="background-color: #00b140; outline: none;" matTooltip="Registrar construcciones"
        (click)="openDialog()" outline:none;>
        <mat-icon>add</mat-icon>
      </button>
      </mat-card-actions>
      <mat-card-content>
    
            <div class="matero-row" fxLayout="row wrap">
              <div fxFlex="100" class="matero-col">
                   <mat-card>
                  <mat-card-title fx-item style="color: #009288; font-weight: lighter;">PRIVATIVAS</mat-card-title>
                  <mat-divider></mat-divider><br>
            
                  <mat-card-header fxLayout="column" fxLayoutAlign="center start">
                    <div
                         class="w-full flex flex-col sm:flex-row justify-between">          
                    </div>
                  </mat-card-header>
            
                  <mat-card-content class="-mt-6" fxLayout="column">          
           
                    <div class="example-container mat-elevation-z8">                  
                      <mat-table #table [dataSource]="data">

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.idInmConstruccion}} </mat-cell>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="folio">
                          <mat-header-cell *matHeaderCellDef> Folio </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Name" [value]="row.folio" [(ngModel)]="row.folio">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>
                    
                        <!-- Weight Column -->
                        <ng-container matColumnDef="tipoConstruccion">
                          <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.weight}} </mat-cell>
                        </ng-container>
                    
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="idTipoConstruccion">
                          <mat-header-cell *matHeaderCellDef> IdTipo </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>
                    
                        <!-- Fav Column -->
                        <ng-container matColumnDef="superficie">
                          <mat-header-cell *matHeaderCellDef> Superficie </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <mat-select [(value)]="element.fav" placeholder="Favorite">
                                <mat-option>None</mat-option>
                                <mat-option value="Yes">Yes</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="descripcionModulo">
                          <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="nivelTipo">
                          <mat-header-cell *matHeaderCellDef> Nivel Tipo </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="idUsoConstruccion">
                          <mat-header-cell *matHeaderCellDef> Uso </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="idRangoNivelTGFD">
                          <mat-header-cell *matHeaderCellDef> Rango de Nivel </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="claseF">
                          <mat-header-cell *matHeaderCellDef> Clase </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="puntajeF">
                          <mat-header-cell *matHeaderCellDef> Puntaje </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="edad">
                          <mat-header-cell *matHeaderCellDef> Edad </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="idEstadoConservacion">
                          <mat-header-cell *matHeaderCellDef> Co </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="indiviso">
                          <mat-header-cell *matHeaderCellDef> Indiviso </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="idClaseConstruccionF">
                          <mat-header-cell *matHeaderCellDef> Clase ISAI </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="estadoGralConservacionF">
                          <mat-header-cell *matHeaderCellDef> Puntos totales </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="vidaMinimaRemanenteF">
                          <mat-header-cell *matHeaderCellDef> Vida remanente </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="indiceCostosRemanenteF">
                          <mat-header-cell *matHeaderCellDef> Índice costos REM </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="totalPuntosAjustadosF">
                          <mat-header-cell *matHeaderCellDef> Puntos totales </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="claseSM">
                          <mat-header-cell *matHeaderCellDef> CLASE </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>

                         <!-- Symbol Column -->
                         <ng-container matColumnDef="puntajeSM">
                          <mat-header-cell *matHeaderCellDef> Puntaje </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
                            </mat-form-field>
                          </mat-cell>
                        </ng-container>
                    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                    </div> 

                  </mat-card-content>        
                </mat-card>         
              </div>
         </div>
       
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</section>

